<launch>
<arg name="model" default="$(find ur3)/urdf/ur3.urdf" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find ur3)/urdf/ur3.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" 
    name="joint_state_publisher_gui" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find ur3)/urdf.rviz" />
</launch>
